<div class="w-[98%] bg-white rounded-[70px] p-4 m-4 flex items-center justify-between text-[14px]">
    <div class="ms-8">
        <img src="../../../assets/icons/TestLogo.svg" alt="tech care logo">
    </div>
    <div class="flex justify-center items-center gap-8">
        <a class="flex gap-2 font-bold" href="#overview"><img
                src="../../../assets/icons/nav-items/home_FILL0_wght300_GRAD0_opsz24.svg" alt="">
            Overview</a>
        <a class="flex gap-2 font-bold py-3 px-4 bg-[#01f0d0] rounded-[40px]" href="#patients"><img
                src="../../../assets/icons/nav-items/group_FILL0_wght300_GRAD0_opsz24.svg" alt="">
            Patients</a>
        <a class="flex gap-2 font-bold" href="#schedule"><img
                src="../../../assets/icons/nav-items/calendar_today_FILL0_wght300_GRAD0_opsz24.svg" alt="">
            Schedule</a>
        <a class="flex gap-2 font-bold" href="#message"><img
                src="../../../assets/icons/nav-items/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg" alt="">
            Message</a>
        <a class="flex gap-2 font-bold" href="#transactions"><img
                src="../../../assets/icons/nav-items/credit_card_FILL0_wght300_GRAD0_opsz24.svg" alt="">
            Transactions</a>
    </div>
    <div class="flex gap-2 items-stretch me-8">
        <img src="../../../assets/icons/nav-items/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc.png"
            alt="">
        <div class="flex flex-col">
            <p class="font-bold">Dr. Jose Simons</p>
            <p class="text-neutral-500 tracking-tighter">General Practitioner</p>
        </div>
        <span class="bg-[#EDEDED] pl-[1px]"></span>
        <img src="../../../assets/icons/nav-items/settings_FILL0_wght300_GRAD0_opsz24.svg" alt="settings logo">
        <img src="../../../assets/icons/nav-items/more_vert_FILL0_wght300_GRAD0_opsz24.svg" alt="three dot logo">
    </div>
</div>