<div class="m-8 bg-white rounded-2xl w-[367px] min-h-[1054px]">
    <div class="flex justify-between p-[20px]">
        <p class="text-xl font-extrabold tracking-tight">Patients</p>
        <img src="../../../assets/icons/patients-info/search_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="p-[20px] text-[14px] flex justify-between">
        <div class="flex items-center gap-2 ">
            <img src="../../../assets/icons/patients-info/Layer 8.png" alt="profile picture">
            <div class="flex flex-col">
                <p>Emilia Williams</p>
                <p class="text-neutral-500 tracking-tight">Female, 21</p>
            </div>
        </div>
        <img src="../../../assets/icons/patients-info/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="">
    </div>
</div>