<div class="bg-white p-4 rounded-2xl">
    <p class="text-2xl font-bold">Diagnostic List</p>
    <div class="overflow-auto mt-10">
        <div class="align-middle inline-block min-w-full">
            <div class="overflow-hidden rounded-3xl">
                <table class="min-w-full">
                    <thead class="bg-slate-100">
                        <tr>
                            <th scope="col" class="rounded-s-3xl p-4 text-left text-sm font-bold tracking-wider">
                                Problems/Daignostic
                            </th>
                            <th scope="col" class="p-4 text-left text-sm font-bold tracking-wider">
                                Description
                            </th>
                            <th scope="col" class="rounded-e-3xl p-4 text-left text-sm font-bold tracking-wider">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white text-sm">
                        <tr>
                            <td class="p-5 whitespace-nowrap">Hypertension</td>
                            <td class="p-5 whitespace-nowrap">Chronic high blood pressure</td>
                            <td class="p-5 whitespace-nowrap">Under Observation</td>
                        </tr>
                        <tr>
                            <td class="p-5 whitespace-nowrap">Type 2 Diabetes</td>
                            <td class="p-5 whitespace-nowrap">Insulin resistance and elevated blood sugar</td>
                            <td class="p-5 whitespace-nowrap">Cured</td>
                        </tr>
                        <tr>
                            <td class="p-5 whitespace-nowrap">Asthma</td>
                            <td class="p-5 whitespace-nowrap">Recurrent episodes of bronchial constriction</td>
                            <td class="p-5 whitespace-nowrap">Inactive</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>