<div class="my-8 bg-white rounded-2xl p-[20px]">
    <p class="text-xl font-extrabold tracking-tight mb-[20px]">Diagnostic History</p>
    <div class="w-[726px] h-[298px] bg-slate-500 mb-[20px] rounded-xl">

    </div>
    <div class="flex gap-5">
        <div class="bg-sky-100 p-4 rounded-[12px] w-[228px]">
            <img class="rounded-[60px]" src="../../../assets/icons/diagnostic-history/respiratory rate.svg" alt="">
            <p class="font-medium pt-4">Respiratory Rate</p>
            <p class="text-[30px] font-extrabold">20 bpm</p>
            <p>Normal</p>
        </div>
        <div class="bg-red-100 p-4 rounded-[12px] w-[228px]">
            <img class="rounded-[60px]" src="../../../assets/icons/diagnostic-history/temperature.svg" alt="">
            <p class="font-medium pt-4">Respiratory Rate</p>
            <p class="text-[30px] font-extrabold">98.6 °F</p>
            <p>Normal</p>
        </div>
        <div class="bg-red-100 p-4 rounded-[12px] w-[228px]">
            <img class="rounded-[60px]" src="../../../assets/icons/diagnostic-history/HeartBPM.svg" alt="">
            <p class="font-medium pt-4">Respiratory Rate</p>
            <p class="text-[30px] font-extrabold">78 bpm</p>
            <div class="flex gap-2">
                <img src="../../../assets/icons/ArrowDown.svg" alt="">
                <p>Lower than Average</p>
            </div>
        </div>
    </div>
</div>